@media screen and (max-width: 992px) {
  header {
    padding-top: 50px;
    align-items: center;
    height: auto;
    color: var(--color-black);
    overflow: auto;
  }
  section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 4rem 2rem;
  }
  .header-content {
    @include grid-display(1);
    margin-bottom: 3rem;
    .left-header {
      @include flex(column);
      align-items: center;
      .h-image {
        width: 90% !important;
        margin: 0.5rem !important;
      }
    }
    .right-header {
      position: relative;
      padding: 3rem !important;
      h1 {
        @include flex(row);
        align-items: flex-start;
      }
    }
  }
  // about page
  .main-title {
    h2 {
      @include text-size(3.5rem, 700);
      .bg-text {
        @include text-size(4.5rem, 750);
      }
    }
  }
  .about-h {
    width: 90vw;
    @include flex(column);
    align-items: center;
  }
  // portfolio page
  .portfolios {
    @include grid-display(2);
    .portfolio-item {
      .hover-item {
        opacity: 1;
      }
    }
  }
  // contact page
  .contact-content-con {
    @include flex(column);
  }

  // for nav bar
  .navbar {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--color-white);
    overflow-x: visible;
    box-shadow: 0px 2px 15px var(--color-grey-5);
  }

  .controls-container {
    @include flex(column);
    align-items: center;
    .controls {
      height: 50px;
      width: 50%;
      z-index: 10;
      top: 25px;
      right: auto;
      @include flex(row);
      .control {
        cursor: pointer;
        background-color: var(--color-white);
        width: 48px;
        height: 48px;
        @include flex(row);
        justify-content: center;
        align-items: center;
        padding: 0 16%;
      }
    }
  }

  .theme-btn-con {
    position: fixed;
    top: auto;
    bottom: 25px;
    right: 20px;
    @include flex(column);
    align-items: center;
    justify-content: flex-end;
    transform: translateY(0%) !important;
    .theme-btn {
      transition: all 0.25s ease-in-out;
      width: 53px;
      height: 53px;
      border-radius: 50%;
      border: 1px solid var(--color-secondary);
      background-color: var(--color-secondary);
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      i {
        transition: all 0.25s ease-in-out;
        font-size: 28px;
        color: var(--color-white);
        pointer-events: none;
      }
    }
    .theme-btn:hover {
      transform: translateY(-1px);
      transition: 0.25s ease-in-out;
      i {
        color: var(--color-white);
        font-size: 28px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header-content {
    h1 {
      font-size: 2rem !important;
    }
    span {
      font-size: 3rem !important;
    }
    h2 {
      font-size: 1.8rem !important;
    }
  }
  .main-title {
    h2 {
      @include text-size(3rem, 650);
      span {
        color: var(--color-secondary);
      }
      .bg-text {
        @include text-size(4rem, 700);
      }
    }
  }
  .portfolios {
    @include grid-display(1);
  }
  .contact-content-con {
    .contact-info-box {
      padding-top: 1rem;
      p {
        width: 100%;
        word-wrap: break-word;
      }
    }
  }
}
