@media screen and (max-width: 850px) {
  .header-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .left-header {
    padding-left: 0rem;
    .image {
      margin-right: 5rem;
    }
  }
  .right-header {
    padding-left: 2rem;
    h1 {
      line-height: 116%;
    }
  }
  .main-title {
    h2 {
      font-size: 3.5rem;
      font-weight: 680;
      .bg-text {
        font-weight: 750;
        font-size: 4.2rem;
      }
    }
  }
  .portfolios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin-top: 4rem;
  }
  .contact-content-con {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .main-title {
    h2 {
      font-size: 3rem;
      font-weight: 650;
      span {
        color: var(--color-secondary);
      }
      .bg-text {
        font-weight: 700;
        font-size: 4rem;
      }
    }
  }
  .portfolios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
    margin-top: 3rem;
    .portfolio-item {
      .hover-item {
        opacity: 1;
      }
    }
  }
  .contact-content-con {
    .contact-info-box {
      padding-top: 1rem;
      p {
        width: 100%;
        word-wrap: break-word;
      }
    }
  }
}
