@media screen and (max-width: 900px) {
  header {
    padding-top: 50px;
    align-items: center;
    height: auto;
    color: var(--color-black);
    overflow: auto;
  }
  .section {
    padding-top: 56px;
  }
  section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2rem;
  }
  .header-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .left-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .h-image {
      width: 90% !important;
      margin: 0.5rem !important;
    }
  }
  .right-header {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem !important;
    h1 {
      line-height: 120%;
      padding: 0.8rem;
    }
  }
  .main-title {
    h2 {
      font-size: 3.5rem;
      font-weight: 680;
      .bg-text {
        font-weight: 750;
        font-size: 4.2rem;
      }
    }
  }

  .about-h {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin-top: 4rem;
    .portfolio-item {
      .hover-item {
        opacity: 1;
      }
    }
  }
  .contact-content-con {
    display: flex;
    flex-direction: column;
  }

  // for nav bar
  .navbar {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--color-white);
    overflow-x: visible;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.4);
  }

  .controls {
    position: absolute;
    height: 50px;
    width: 50%;
    z-index: 10;
    top: 0px;
    display: flex;
    flex-direction: row;
    transform: translateX(-50%);
    align-self: center;
    align-items: center;
    justify-content: center;
    .control {
      cursor: pointer;
      background-color: var(--color-white);
      width: 48px;
      height: 48px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 16%;
    }
  }
  .theme-btn-con {
    position: fixed;
    z-index: 10;
    bottom: 25px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transform: translateY(0%) !important;
    .theme-btn {
      transition: all 0.25s ease-in-out;
      width: 53px;
      height: 53px;
      border-radius: 50%;
      border: 1px solid var(--color-secondary);
      background-color: var(--color-secondary);
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      i {
        transition: all 0.25s ease-in-out;
        font-size: 28px;
        color: var(--color-white);
        pointer-events: none;
      }
    }
    .theme-btn:hover {
      transform: translateY(-1px);
      transition: 0.25s ease-in-out;
      i {
        color: var(--color-white);
        font-size: 28px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .main-title {
    h2 {
      font-size: 3rem;
      font-weight: 650;
      span {
        color: var(--color-secondary);
      }
      .bg-text {
        font-weight: 700;
        font-size: 4rem;
      }
    }
  }
  .portfolios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
    margin-top: 3rem;
  }
  .contact-content-con {
    .contact-info-box {
      padding-top: 1rem;
      p {
        width: 100%;
        word-wrap: break-word;
      }
    }
  }
}
