* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #f8f8f8;
  --color-secondary: #ebaab4;
  --color-secondary-b: #ffe9e9;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey: #d3d3d3;
  --color-grey-0: #373737;
  --color-grey-1: #575757;
  --color-grey-2: #757575;
  --color-grey-3: #a2a2a2;
  --color-grey-4: #c2c2c2;
  --color-grey-5: #e2e2e2;
  --color-grey-6: #f8f8f8;
}
.dark-mode {
  --color-primary: #232323;
  --color-secondary: #718ef6;
  --color-secondary-b: #2e318d;
  --color-white: #121212;
  --color-black: #ffffff;
  --color-grey: #d3d3d3;
  --color-grey-0: #e8e8e8;
  --color-grey-1: #c3c3c3;
  --color-grey-2: #acacac;
  --color-grey-3: #5c5c5c;
  --color-grey-4: #454545;
  --color-grey-5: #313131;
  --color-grey-6: #181818;
}

@mixin flex($param) {
  display: flex;
  flex-direction: $param;
}

@mixin grid-display($count) {
  display: grid;
  grid-template-columns: repeat($count, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

@mixin text-size($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin animate-block($time) {
  animation: animate-text $time ease-in;
  @keyframes animate-text {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

body {
  @include flex(column);
  min-height: 100vh;
  background-color: var(--color-primary);
  font-family: "Great Vibes", cursive;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-black);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  overflow: hidden;
}

section {
  min-height: 100vh;
  left: 0;
  top: 0;
  padding: 2rem 6rem 2rem 2rem;
}

.section {
  min-height: 100vh;
  margin-bottom: 3rem;
  position: relative;
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
  // hide other sections
  display: none;
  transform: translateY(0) scale(1);
}

.active-section {
  // display clicked section
  display: block;
  animation: animate 0.4s ease-in-out;
  @keyframes animate {
    0% {
      transform: translateY(-10%) scale(1);
      opacity: 0;
    }
    100% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }
}

// for nav bar
.navbar {
  height: 100%;
  width: 63px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--color-white);
  box-shadow: -2px 0px 15px var(--color-grey-5);
  overflow-x: hidden;
  padding-top: 20px;
  .controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 5px;
    @include flex(column);
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    .active-btn {
      i {
        color: var(--color-secondary) !important;
        transition: 0.1s ease-in-out;
      }
    }
    .control {
      padding: 1rem;
      cursor: pointer;
      background-color: var(--color-white);
      width: 53px;
      height: 53px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10% 0;
      i {
        transition: all 0.25s ease-in-out;
        font-size: 1.65rem;
        color: var(--color-grey-3);
        pointer-events: none;
      }
      &:hover i {
        font-size: 1.7rem;
        color: var(--color-grey-2);
        transition: 0.25s ease-in-out;
      }
    }
  }
}

// theme button
.theme-btn-con {
  position: fixed;
  z-index: 10;
  top: 7%;
  right: 5px;
  width: 53px;
  height: 53px;
  @include flex(column);
  transform: translateY(-80%);
  align-items: center;
  justify-content: center;
  .theme-btn {
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0;
    i {
      font-size: 1.7rem;
      color: var(--color-grey-2);
      pointer-events: none;
      transition: all 0.25s ease-in-out;
    }
    &:hover i {
      color: var(--color-grey-1);
      transition: 0.25s ease-in-out;
    }
  }
}

// for home page
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  .h-shape {
    transition: all 0.4s ease-in-out;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary-b);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    clip-path: polygon(67% 0, 0 0, 0 76%);
  }
  .left-header {
    display: flex;
    align-items: center;
    position: relative;
    .h-image {
      margin-left: 1.6rem;
      align-items: center;
      img {
        width: 98%;
        height: 98%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: scale-down;
        transition: all 0.4s ease-in-out;
        &:hover {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .right-header {
    @include animate-block(1s);
    @include flex(column);
    justify-content: center;
    padding-right: 6rem;
    h1 {
      color: var(--color-grey-0);
      @include text-size(2.8rem, 100);
      letter-spacing: 0.2rem;
    }
    span {
      align-self: center;
      font-family: "Great Vibes";
      @include text-size(4rem, 600);
      transform: scale(1.1, 1);
      text-shadow: 2px 3px var(--color-secondary-b);
    }
    .scrolling-words-container {
      margin-top: 1rem;
      margin-right: 1rem;
      .scrolling-words-box {
        height: 46px;
        overflow: hidden;
        .descriptive-text-list {
          color: var(--color-grey-0);
          text-align: end;
          animation: scroll-text 5s infinite;
          // animation reference: https://codepen.io/azrikahar/pen/NWNEByV
          @keyframes scroll-text {
            $item-count: 3;
            @for $i from 1 through ($item-count - 1) {
              #{($i * 25) - 10%},
              #{$i * 25%} {
                transform: translateY(calc(-100% / $item-count) * $i);
              }
            }
          }
          .decriptive-item {
            @include text-size(1.8rem, 100);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            opacity: 1;
          }
        }
      }
    }
  }
}

// for about page
.main-title {
  text-align: center;
  h2 {
    position: relative;
    text-transform: uppercase;
    @include text-size(4rem, 700);
    span {
      color: var(--color-secondary);
    }
    .bg-text {
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color-grey-5);
      transition: all 0.4s ease-in-out;
      z-index: -1;
      transform: translate(-50%, -50%);
      @include text-size(5.68rem, 800);
    }
  }
}

.about-container {
  @include animate-block(0.5s);
  @include flex(column);
  justify-content: flex-start;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  .about-heading {
    @include text-size(2rem, 500);
    margin-bottom: 1rem;
  }
  .about-text {
    font-family: inherit;
    @include text-size(1.1rem, 300);
    color: var(--color-grey-1);
    margin-bottom: 2rem;
  }

  // skills blocks
  .about-skills {
    @include animate-block(1s);
    position: relative;
    top: 3rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.8rem;

    .skills-block {
      @include flex(row);
      background-color: var(--color-grey-6);
      border: 1px solid var(--color-grey-5);
      border-radius: 5px;
      transition: all 0.4s ease-in-out;
      box-shadow: 1px 2px 15px var(--color-grey-5);
      &:hover {
        cursor: default;
        transform: translateY(-3px);
        border: 1px solid var(--color-secondary);
        box-shadow: 1px 4px 15px var(--color-grey-4);
      }
      .skills-text {
        padding-left: 2rem;
        padding-top: 1.2rem;
        @include flex(column);
        width: 12rem;
        .small-text {
          position: relative;
          padding-left: 2%;
          text-transform: uppercase;
          @include text-size(1.3rem, 400);
          color: var(--color-grey-0);
          letter-spacing: 2px;
          &::before {
            position: absolute;
            top: 10%;
            width: 80%;
            height: 2px;
            background-color: var(--color-grey-5);
          }
        }
      }

      .skill-item {
        padding: 2rem 0;
        @include flex(column);
        .i-name {
          align-self: center;
          position: relative;
          color: var(--color-grey-0);
          letter-spacing: 1px;
          @include text-size(1rem, 300);
          font-family: inherit;
        }
        .i-image {
          height: 6rem;
          margin: 1.2rem;
          align-items: center;
          img {
            height: 6rem;
          }
        }
      }
    }
  }
}

// for portfolio page
.portfolios {
  @include animate-block(1s);
  @include grid-display(3);
  .portfolio-item {
    position: relative;
    border-radius: 15px;
    img {
      width: 100%;
      height: 300px;
      filter: brightness(0.98);
      object-fit: cover;
      border-radius: 15px;
      transition: all 0.4s ease-in-out;
      box-shadow: 1px 5px 10px var(--color-grey-4);
    }
    .hover-item {
      width: 100%;
      height: 30%;
      position: relative;
      left: 0;
      top: 0;
      @include flex(column);
      border-radius: 15px;
      justify-content: center;
      align-items: center;
      opacity: 0;
      h3 {
        padding-top: 1rem;
        text-align: center;
        @include text-size(1.3rem, 600);
        color: var(--color-black);
        margin-bottom: 1rem;
      }
    }
    &:hover .hover-item {
      opacity: 1;
      transition: all 0.4s ease-in-out;
    }
    &:hover img {
      filter: brightness(1.01);
      transform: translateY(-2px);
      transition: all 0.6s ease-in-out;
    }
  }
}

// for contact page
.contact-content-con {
  @include flex(row);
  @include animate-block(1s);
  .contact-info-box {
    padding-top: 3rem;
    flex: 2;
    .contact-info {
      padding-bottom: 2rem;
      .contact-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          text-align: right;
          margin: 0.3rem 3rem !important;
          padding: 0 !important;
        }
        .icon {
          display: grid;
          grid-template-columns: 40px 1fr;
          i {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  //message form
  .message-box {
    @include flex(column);
    flex: 3;
    padding-top: 3rem;

    .input-control {
      margin: 0.5rem 0;
      input,
      textarea {
        border-radius: 20px;
        @include text-size(inherit, inherit);
        font-family: inherit;
        padding: 0.8rem 1.1rem;
        outline: none;
        border: none;
        background-color: var(--color-grey-5);
        width: 100%;
        color: var(--color-black);
        resize: none;
      }
    }
    .i-c-2 {
      display: flex;
      :last-child {
        margin-left: 3%;
      }
    }
  }
}

// email contact form submit btn
.btn-submit-container {
  @include flex(column);
  align-items: center;
  .submit-content {
    @extend .btn-content;
  }
}
// download resume btn
.btn-resume-container {
  @include flex(row);
  align-items: flex-start;
  .resume-content {
    @extend .btn-content;
  }
}

.btn-content {
  cursor: pointer;
  height: 45px;
  border-radius: 25px;
  background-color: var(--color-secondary);
  @include text-size(1.2rem, 500);
  white-space: nowrap;
  font-family: inherit;
  color: var(--color-white);
  position: relative;
  border: 1.5px solid var(--color-secondary);
  display: flex;
  align-self: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 3px 15px var(--color-grey-4);
  padding: 1.2rem 1.5rem;
  .btn-icon {
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.8rem;
  }
  &:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 3px 15px var(--color-grey-3);
    transform: translateY(-1px);
  }
}

// for icons
.icons {
  @include flex(column);
  align-items: center;
  .icon {
    display: flex;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-black);
      background-color: var(--color-grey-5);
      cursor: pointer;
      margin: 0 1rem;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: all 0.4s ease-in-out;
      i {
        justify-content: center;
        font-size: 1.3rem;
      }
      &:hover {
        background-color: var(--color-secondary);
        i {
          color: var(--color-primary);
        }
      }
    }
  }
}

// for footer
footer {
  margin-top: auto;
  position: relative;
  bottom: 0;
  @include flex(column);
  justify-content: center;
  align-items: center;
  p {
    margin: 3rem 0;
    color: var(--color-grey-4);
    @include text-size(0.8rem, 200);
  }
}

@import "./mediaqueries";
